<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav ml-auto">
           <li class="nav-item mr-auto">
               <a class="nav-link btn btn-dark" href="/documents/convert?fullname=asc"> Convert</a>
           </li>
           <li class="nav-item">
               <a class="nav-link btn btn-dark" href="/document/new">Adauga <span class="sr-only">(current)</span></a>
           </li>
           <li class="nav-item">
               <a class="nav-link btn btn-dark" href="#">Login <span class="sr-only">(current)</span></a>
           </li>
           <li class="nav-item">
               {{ form_start(form) }}
               {{ form_row(form.compossessorate_table) }}
               {{ form_row(form.submit) }}
               {{ form_end(form) }}
           </li>
       </ul>
   </div>
</nav>
