<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav mr-auto">
           <li class="nav-item">
               <a class="nav-link btn btn-dark btn-lg" href="/documents/convert?fullname=asc">Salveaza ca poza</a>
           </li>
           <li class="nav-item">
               <a class="nav-link btn btn-dark btn-lg" href="/document/new">Adauga <span class="sr-only">(current)</span></a>
           </li>
           <li class="nav-item">
               <a class="nav-link btn btn-dark btn-lg" href="#">Login <span class="sr-only">(current)</span></a>
           </li>
       </ul>
           {{ form_start(form) }}
           {{ form_row(form.compossessorate_table) }}
           {{ form_row(form.submit) }}
           {{ form_end(form) }}
   </div>
</nav>
